* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  background-color: hsl(222, 26%, 31%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: transparent;
  /* min-width: 400px; */
  min-width: 26rem;
  /* border: 2px solid blue; */
  padding: 1rem;
}

.header {
  /* border: 2px solid hotpink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
}

.header > .theme {
  /* border: 2px solid lawngreen; */
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  gap: 1rem;
}

.theme > p {
  align-self: flex-end;
}

.theme-select div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 0.3rem;
}

.theme-select div:last-child {
  border-radius: 2rem;
  background-color: hsl(223, 31%, 20%);
  margin-top: 0.1rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.check-container {
  height: 1rem;
  width: 1rem;
  display: block;
  position: relative;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #eee; */
}

.check-container input:checked ~ .checkmark {
  background-color: blue;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.display {
  min-height: 4rem;
  background-color: hsl(224, 36%, 15%);
  margin-top: 1rem;
  border-radius: 0.3rem;
  padding: 1rem;
  color: white;
  font-weight: 600;
}

.initial-output {
  font-size: 1rem;
  text-align: right;
  opacity: 0.6;
}

.calculated-output {
  font-size: 1.75rem;
  text-align: right;
}

.calculator-buttons {
  /* border: 2px solid fuchsia; */
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
  min-height: 22rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 00.3rem;
}

.calculator-buttons > button {
  /* padding: 0.4rem; */
  /* background-color: hsl(225, 21%, 49%); */
  font-size: 1rem;
  font-weight: 700;
  color: hsl(221, 14%, 31%);
  border-radius: 00.3rem;
}
